In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("salary.csv")

In [4]:
dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [15]:
# feature
x = dataset['YearsExperience'].values.reshape(30,1)

In [17]:
x 
x.shape

(30, 1)

In [7]:
# target
y = dataset['Salary']

In [8]:
# create model
from sklearn.linear_model import LinearRegression

In [9]:
model = LinearRegression()

In [18]:
# training the model
model.fit(x, y)

LinearRegression()

In [21]:
model.predict([[2.3]])

array([47527.11353802])

In [22]:
model.predict([[2.5]])

array([49417.10600231])

In [23]:
model.predict([[1.4]])

array([39022.14744871])

In [24]:
model.coef_

array([9449.96232146])

In [25]:
model.intercept_

25792.20019866871

In [26]:
# saving model
import joblib

In [ ]:
model =