In [1]:
import pandas

In [2]:
db = pandas.read_csv("marks.csv")

In [3]:
db

      Name  Hours  Marks
0  Shivani      5     50
1     Ritu      7     70
2      Tom      8     80
3   Preeti      4     40
4  Prakhar      3     30
5  Pallavi      6     60

In [4]:
type(db)

pandas.core.frame.DataFrame

In [5]:
#Target / dv
y = db['Marks']

In [6]:
y

0    50
1    70
2    80
3    40
4    30
5    60
Name: Marks, dtype: int64

In [7]:
#feature / Iv
x = db['Hours']

In [8]:
x

0    5
1    7
2    8
3    4
4    3
5    6
Name: Hours, dtype: int64

In [9]:
x.shape

(6,)

In [10]:
type(x)

pandas.core.series.Series

In [11]:
x = x.values

In [12]:
type(x)

numpy.ndarray

In [13]:
x = x.reshape(6,1)

In [14]:
x

array([[5],
       [7],
       [8],
       [4],
       [3],
       [6]], dtype=int64)

In [15]:
from sklearn.linear_model import LinearRegression
mind = LinearRegression()

In [16]:
# model :linear function
# w : weight / coefficient
mind.fit(x, y)

LinearRegression()

In [17]:
mind.predict([[2]])

array([20.])

In [18]:
#linear function : y =wx
#w = 10
mind.coef_

array([10.])

In [19]:
mind.intercept_

0.0

In [20]:
#now save the model
import joblib

In [21]:
joblib.dump(mind, 'marks.pk1')

['marks.pk1']